:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
// Reseteo los estilos de input
input {
  align-self: flex-start;
}
textarea {
  align-self: flex-start;
}

// Reseteo los estilos de botón
button {
  all: unset;
  align-self: flex-start;
}
