:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
// Reseteo los estilos de input
input {
   
   align-self: flex-start;
}

// Reseteo los estilos de botón
button {
  all: unset;
  align-self: flex-start;
}