.fieldset {
  width: 80%;
  display: flex;
}
.fill-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title-icon {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: $blueToy;
}
.image-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fa-regular {
  margin-left: 0;
  margin-right: 10px;
}
.card-background-nubes {
  background-image: url("/images/nubes.jpg");
  background-size: cover;
}
.card-background-espacio {
  background-image: url("/images/espacio.jpg");
  background-size: cover;
}
.card-background-forky {
  background-image: url("/images/forky.jpg");
  background-size: cover;
}
.labelNubes {
  display: flex;
  align-items: center;
  gap: 20px;
}
.labelForky {
  display: flex;
  align-items: center;
  gap: 20px;
}
.labelEspacio {
  display: flex;
  align-items: center;
  gap: 20px;
}
.paleta1 {
  display: flex;
  justify-content: space-between;
  margin-left: 12px;
}
.paleta1-1 {
  width: 30px;
  height: 30px;
  background-image: url("/images/nubes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.paleta2 {
  display: flex;
  justify-content: space-between;
}
.paleta2-1 {
  width: 30px;
  height: 30px;
  background-image: url("/images/espacio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.paleta3 {
  display: flex;
  justify-content: space-between;
  margin-left: 12px;
}
.paleta3-1 {
  width: 30px;
  height: 30px;
  background-image: url("/images/forky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
