fieldset {
  width: 80%;
}
.symbol-title-fill-out {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: $blueToy;
}

.fill-out-text {
  display: flex;
  align-items: baseline;
  gap: 15px;
}

.down-arrow {
  display: flex;
  align-items: center;
}

.fill-out-form {
  display: flex;
  flex-direction: column;
}

.instagram {
  display: flex;
  flex-direction: column;

  &__text {
    display: flex;
    gap: 2px;
  }
}
