.fieldset {
  width: 80%;
  display: flex;
}
.fill-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title-icon {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: $blueToy;
}
.image-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fa-regular {
  margin-left: 0;
  margin-right: 10px;
}
.card-background-nubes {
  background-image: url("/images/nubes.jpg");
  background-size: cover;
}
.card-background-espacio {
  background-image: url("/images/espacio.jpg");
  background-size: cover;
}
.card-background-forky {
  background-image: url("/images/forky.jpg");
  background-size: cover;
}
.labelNubes{
  display: flex;
  gap: 20px;
}
.labelForky{
  display: flex;
  gap: 20px;
}
.labelEspacio{
  display: flex;
  gap: 20px;
}
.paleta1{
  display: flex;
  justify-content: space-between;
  margin-left: 12px;
}
.paleta1-1{
  width: 15px;
  height: 15px;
  background-color: #0074e8;
  
}
.paleta1-2{
  width: 15px;
  height: 15px;
  background-color: #e6f4ff;
}
.paleta1-3{
  width: 15px;
  height: 15px;
  background-color: #abdbff;
}
.paleta1-4{
  width: 15px;
  height: 15px;
  background-color: #48d5c6;
}

.paleta2{
  display: flex;
  justify-content: space-between;
}
.paleta2-1{
  width: 15px;
  height: 15px;
  background-color: #9e68ff;
}
.paleta2-2{
  width: 15px;
  height: 15px;
  background-color: #6bec8c;
}
.paleta2-3{
  width: 15px;
  height: 15px;
  background-color: #fdc900 ;
}
.paleta2-4{
  width: 15px;
  height: 15px;
  background-color: #75bfff;;
}
.paleta3{
  display: flex;
  justify-content: space-between;
  margin-left: 12px;
}
.paleta3-1{
  width: 15px;
  height: 15px;
  background-color: #ffc58f;

}
.paleta3-2{
  width: 15px;
  height: 15px;
  background-color: #fdc900;

}
.paleta3-3{
  width: 15px;
  height: 15px;
  background-color: #cc0000;
}
.paleta3-4{
  width: 15px;
  height: 15px;
  background-color: #6bec8c;
}

