fieldset {
  width: 80%;
}
.symbol-title-fillout {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: $blueToy;
}

.fillout-text {
  display: flex;
  align-items: baseline;
  gap: 15px;
}

.down-arrow {
  display: flex;
  align-items: center;
}

.fillout-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fillout-form_input {
  display: flex;
  flex-direction: column;

    &__text {
      display: flex;
      gap: 2px;
    }
    &__button {
      display: flex;
      gap: 15px;
      align-items: center;
    }

    & textarea {
      width: 180px;
    }
    }

.form__photoinput{
  display:none;
}

.form__photobutton{
  background-color: $redToy;
  color: white;
  padding: 5px;
  border-radius: 5px;
  width: 115px;
  margin-bottom: 5px;
}
.form__photothumb{
  border: 1px solid red;
  border-radius: 5px;
  height: 40px;
  width: 40px;
}

.collapse {
  display: none;
}

.rotate {
  transform: rotate(180deg);
}