.fieldset {
  width: 80%;
  display: flex;
}
.fill-form {
  display: flex;
  flex-direction: column;
}

.title-icon {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: $blueToy;
}
.image-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fa-regular {
  margin-left: 0;
  margin-right: 10px;
}
.card-background-blue{
    background-image: url("/images/nubes.jpg");
    background-size: cover;
}
.card-background-yellow{
  background-image: url("/images/fondo5.avif");
  background-size: cover;
}
.card-background-green {
  background-image: url("/images/fondo3.jpg");
  background-size: cover;
}
.form-collapse{
  display: none;
}
.form-rotate{
  transform: rotate(180deg);
}
/* Ocultar el contenido del desplegable si no tiene la clase 'open' */
.js-form-design,
.js-form-fillout,
.js-form-share {
  display: none;
}

/* Mostrar el contenido cuando el contenedor tiene la clase 'open' */
.open .js-form-design,
.open .js-form-fillout,
.open .js-form-share {
  display: block;
}

