.section-card {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  &__reset {
    cursor: pointer;
    width: 130px;
    background-color: $blueToy;
    color: $yellowToy;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 40px;
    & i {
      padding-bottom: 5px;
    }
  }
}

.card {
  max-width: 460px;
  margin: 0 13px;
  background-image: url(/images/nubes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  @media (min-width: 768px) {
    max-width: 600px;
  }

  &__nameAddressee {
    margin-top: 15px;
  }

  &__message {
    padding: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-image: url(/images/mr-potato.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20%;

    @media (min-width: 768px) {
      height: 200px;
      width: 200px;
    }

    @media (min-width: 970px) {
      height: 300px;
      width: 300px;
    }

    @media (min-width: 1200px) {
      height: 400px;
      width: 400px;
    }
  }
  &__footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin-bottom: 10px;
    // width: 80%;

    &__phone {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: smaller;
      gap: 2px;
    }

    &__insta {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: smaller;
      gap: 2px;
    }
  }
  
}  