header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .logo {
    width: 40px;
    justify-content: center;
  }

  @media all and (min-width: 768px) {
    .logo {
      width: 82px;
    }
    .image {
      width: 80px;
    }
  }

  @media all and (min-width: 1200px) {
    .logo {
      width: 100px;
    }
    .image {
      width: 84px;
    }
  }
}
