body {
  margin: 0px;
}
.background-main {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &::before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background-image: url(../images/malo.jpg);
    position: absolute;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
  }
}

.background-form {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &::before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background-image: url(../images/malo.jpg);
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
  }
}
main {
  flex-grow: 1;
}
.actions {
  border-radius: 8px;
}
.btn {
  display: inline-block;
  color: white;
  padding: 10px 20px 6px 0;
  border-radius: 25px;
  border: 2px solid;
  background-color: #d777d77d;
  color: #871987;
  font-size: 30px;
  cursor: pointer;
  transition: transform 0.3s;
  transform: scale(1);
}
.btn:hover {
  transform: scale(1.1);
}
.title-card {
  color: $blueToy;
  text-align: center;
  font-size: 20px;
  @media all and (min-width: 768px) {
    font-size: 24px;
    background-size: cover;
  }
  @media all and (min-width: 1200px) {
    font-size: 24px;
  }
}
.subtitle {
  color: $colorDog;
  font-size: 13px;
  text-align: center;
  font-weight: 50;
  margin: 0 auto;
  max-width: 280px;

  @media all and (min-width: 768px) {
    font-size: 16px;
    max-width: 325px;
    margin: 0 auto;
  }

  @media all and (min-width: 1200px) {
    font-size: 16px;
    max-width: 325px;
    margin: 0 auto;
  }
}

.icons {
  color: $colorIcons;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 20px 20px;
  margin: 30px auto;
  width: 230px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12.8px;

    i {
      font-size: 22px;
    }
  }
  @media all and (min-width: 768px) {
    width: 500px;
  }
  @media all and (min-width: 1200px) {
    width: 500px;
  }
}

.fa-regular {
  margin-bottom: 5px;
}
.fa-sharp {
  margin-bottom: 5px;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  padding-bottom: 30px;

  @media all and (min-width: 768px) {
    margin: 20px;
  }

  @media all and (min-width: 1200px) {
    margin: 20px;
  }
}
