<section class="section-card">
  <div class="card">
    <div class="card__found">
      <div
        class="card__found__img js-card-found-img card-background-blue"
      ></div>
    </div>

    <div class="card__nameAddressee">
      <p class="js-card-nameAddressee">To: Buddy</p>
    </div>

    <div class="card__message">
      <p class="js-card-message">Te voy a echar mucho de menos</p>
    </div>

    <div class="card__photo js__profile-preview">
      <div class="card__photo__img js-card-photo-img"></div>
    </div>

    <div class="card__footer">
      <div class="card__footer__phone">
        <i class="fa-solid fa-phone"></i>
        <p class="js-card-phone">612345678</p>
      </div>
      <div class="card__footer__nameSender">
        <p class="js-card-nameSender">Mr. Potato</p>
      </div>
      <div class="card__footer__insta">
        <i class="fa-brands fa-instagram"></i>
        <p class="js-card-insta">@mrpotato</p>
      </div>
    </div>
  </div>
</section>
