<fieldset class="fieldset js-fieldset-diseña">
  <legend class="title-icon">
    <div class="image-title">
      <i class="fa-regular fa-object-ungroup"></i>
      <p>Diseña</p>
    </div>
    <div>
      <i class="fa-solid fa-chevron-down"></i>
    </div>
  </legend>
  <div>
    <div class="fill-form">
      <label for="option1">
        <input class="js-azul"
          id="option1"
          type="checkbox"
          value="choosecolor"
          name="option1"
        />
        Fondo azul
      </label>
      <label for="option2">
        <input class="js-amarillo"
          id="option2"
          type="checkbox"
          value="choosecolor"
          name="option2"
        />
        Fondo amarillo
      </label>
      <label for="option3">
        <input class="js-verde"
          id="option3"
          type="checkbox"
          value="choosecolor"
          name="option3"
        />
        Fondo verde
      </label>
    </div>
  </div>
</fieldset>
