<section class="section-card">
  <button class="section-card__reset" type="reset">
    RESET
    <i class="fa-solid fa-trash-can"></i>
  </button>
  <div class="card">
    <div class="card__found">
      <img
        class="card__found__img js-card-found-img"
        src="/images/nubes.jpg"
        alt="nubes blancas con cielo azul"
      />
    </div>
    <div class="card__nameAddressee">
      <p class="js-card-nameAddressee">To: Buddy</p>
    </div>
    <div class="card__message">
      <p class="js-card-message">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae
        commodi autem, odio necessitatibus illo provident quod ab assumenda fuga
        omnis voluptatem ratione esse. Recusandae tempore necessitatibus a
        eveniet fugiat. Unde!
      </p>
    </div>
    <div class="card__photo js__profile-preview">
      <img
        class="card__photo__img js-card-photo-img"
        src="/images/mr-potato.png"
        alt="foto del Señor Patat"
      />
    </div>

    <div class="card__footer">
      <div class="card__footer__phone">
        <i class="fa-solid fa-phone"></i>
        <p class="js-card-phone">612345678</p>
      </div>
      <div class="card__footer__nameSender">
        <p class="js-card-nameSender">Mr. Potato</p>
      </div>
      <div class="card__footer__insta">
        <i class="fa-brands fa-instagram"></i>
        <p class="js-card-insta">@mrpotato</p>
      </div>
    </div>
  </div>
</section>
