<fieldset>
  <legend class="drop-down-share">
    <i class="fa-solid fa-share-nodes"></i>
    <p>Comparte</p>
    <div class="drop-down-share__btn">
      <i class="fa-solid fa-chevron-down"></i>
    </div>
  </legend>
  <div class="drop-down-share__anchors">
    <a href="mailto:" >Por e-mail</a>
    <a href="https://www.instagram.com/" target="_blank" noreferrer >Por instagram</a>
    <a href="https://web.whatsapp.com/">Por WhatsApp</a>
    <a href="#">Imprimir</a>
    <!--
        El # se utiliza para crear un enlace que no navega a otra página, permitiendo que se ejecute una función de JavaScript en su lugar. 
      <a>href="#" onclick="imprimirPagina(); return false;</a>
      <script>
          function imprimirPagina() {
              window.print();
          }
      </script>
    -->
  </div>
</fieldset>