<fieldset class="fieldset">
    <legend class="title-icon">
        <div>
         <i class="fa-regular fa-object-ungroup"></i>
         <p>Diseña</p>
        </div>
        <div>
         <i class="fa-solid fa-chevron-down"></i>
        </div>
        
    </legend>
    <div class="fill-form">
        <label for="background1">azul</label>
        <input id="background1" type="checkbox" name="background" value="azul">
        <label for="background2">amarillo</label>
        <input id="background2" type="checkbox" name="background" value="amarillo">
        <label for="background3">rojo</label>
        <input id="background3" type="checkbox" name="background" value="rojo">
        <label for="background4">verde</label>
        <input id="background4" type="checkbox" name="background" value="verde">

    </div>
    
  
    

</fieldset>