<fieldset class="fieldset">
    <legend class="title-icon">
        <div class="image-title">
         <i class="fa-regular fa-object-ungroup"></i>
         <p>Diseña</p>
        </div>
        <div>
         <i class="fa-solid fa-chevron-down"></i>
        </div>
        
    </legend>
    <div>
        <div class="fill-form">
            <div class="fondo-nubes">
                <label for="option1">
                    <input class="js-nubes" id="option1" type="checkbox" value="choosecolor" name="option1"/>
                  Fondo nubes
                  </label>
                <div class="container-image">
                    <img class="photo1" src="/public/images/nubes.jpg" alt="nubes">

                </div>
            

            </div>
            
            <label for="option2">
                <input id="option2" type="checkbox" value="choosecolor" name="option2">
            Fondo habitación
            </label>
            <label for="option3">
                <input id="option3" type="checkbox" value="choosecolor" name="option3">
            Fondo Buzz
            </label>
        </div>
        

    </div>
    
  
    

</fieldset>