<section class="section-card">
  <button class="section-card__reset" type="reset">
    RESET
    <i class="fa-solid fa-trash-can"></i>
  </button>
  <div class="card">
    <div class="card__message">
      Lorem ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse repellat similique amet tempore reiciendis? Voluptates accusantium esse similique sequi optio consectetur excepturi consequuntur ex, fugiat molestiae, a, aliquid maxime quia. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias consequatur cupiditate ad corporis expedita provident debitis. Enim doloremque, reprehenderit temporibus minus nisi consectetur officiis necessitatibus vel repudiandae, libero nemo debitis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, asperiores. Voluptatem explicabo officiis aspernatur perspiciatis autem provident eligendi, ea qui delectus, laboriosam quidem reprehenderit debitis rem dicta repellendus inventore ipsum.
    </div>
    <div class="card__img">
    </div>
    <div class="card__name">
      Mr. Potato
    </div>

  </div>
</section>