<fieldset class="js-fieldset-rellena">
    <legend class="symbol-title-fill-out">
        <div class="fill-out-text">
            <i class="fa-regular fa-keyboard"></i>
            <p>RELLENA</p>
        </div>

        <div class="down-arrow">
            <i class="fa-solid fa-chevron-down"></i>
          </div>

    </legend>

   
    <div class="fill-out-form">
        <label for="destinatario">Destinatario</label>
        <input id= "destinatario" class="js-destinatario" name= "destinatario" type="text" required>

        <label for="text">Quiero decirte que:</label>
        <input id= "text" class="js-text" name= "text" type="text" required>

        <div class="photo">
            <i class="fa-solid fa-camera-retro"></i>
            <label for="imagen">Selecciona una imagen</label>
            <input id= "imagen" class="js-image" name= "imagen" type="image" required>
        </div>

       

        <label for="telefono">Teléfono</label>
        <input id= "teléfono" class="js-number" name= "telefono" type="number" required>

        <label for="remitente">Remitente</label>
        <input id= "remitente" class="js-remitente" name= "remitente" type="text" required>

        <label for="instagram">Instagram</label>
        <input id= "instagram" class="js-instagram" name= "instagram" type="text" required>
    </div>

</fieldset>
