<section class="section-card">
  <button class="section-card__reset" type="reset">
    RESET
    <i class="fa-solid fa-trash-can"></i>
  </button>
  <div class="card">
    <div class="card__message">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto quisquam optio quidem necessitatibus facere sequi mollitia obcaecati, assumenda magni, doloribus provident repudiandae, voluptate eaque cupiditate quaerat neque. Molestiae, dolor illo.
    </div>
    <div class="card__img">
    </div>
    <div class="card__name">
      Mr. Potato
    </div>

  </div>
</section>