<fieldset>
  <legend class="drop-down-share js-legend-share js-share-drop-down js-legend">
    <div class="drop-down-share__text js-share-drop-down">
      <i class="fa-solid fa-share-nodes js-share-drop-down"></i>
      <p class="js-share-drop-down">Comparte</p>
    </div>

    <div class="drop-down-share__btn js-icon-arrow-share js-share-drop-down">
      <i class="fa-solid fa-chevron-down js-share-drop-down"></i>
    </div>
  </legend>

  <div class="drop-down-share__anchors js-form-share">
    <div class="card__create js-card-create">
      <button class="card__create__button js-card-create">Crear tarjeta</button>
    </div>

    <a class="js-link linkVerTarjeta" target="_blank" href="">
      <p>Ver tarjeta</p>
    </a>
    <p class="js-urlCard"></p>

    <div class="js-share-open collapse">
      <div class="anchors__icon">
        <a href="#">Por Twitter</a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
      </div>

      <div class="anchors__icon">
        <a href="mailto:">Por e-mail</a>
        <a href="mailto:"> <i class="fa-regular fa-envelope"></i></a>
      </div>

      <div class="anchors__icon">
        <a href="https://www.instagram.com/" target="_blank" noreferrer
          >Por instagram</a
        >
        <a href="https://www.instagram.com/" target="_blank" noreferrer
          ><i class="fa-brands fa-instagram"></i
        ></a>
      </div>

      <div class="anchors__icon">
        <a href="https://web.whatsapp.com/" target="_blank" noreferrer
          >Por WhatsApp</a
        >
        <a href="https://web.whatsapp.com/" target="_blank" noreferrer
          ><i class="fa-brands fa-whatsapp"></i
        ></a>
      </div>
    </div>

    <!--
        El # se utiliza para crear un enlace que no navega a otra página, permitiendo que se ejecute una función de JavaScript en su lugar. 
      <a>href="#" onclick="imprimirPagina(); return false;</a>
      <script>
          function imprimirPagina() {
              window.print();
          }
      </script>
    -->
  </div>
</fieldset>
