<fieldset class="js-fieldset-rellena">
  <legend class="symbol-title-fillout js-legend-fillout ">
    <div class="fillout-text">
      <i class="fa-regular fa-keyboard"></i>
      <p>RELLENA</p>
    </div>

    <div class="down-arrow js-arrow-fillout">
      <i class="fa-solid fa-chevron-down"></i>
    </div>
  </legend>

  <div class="fillout-form js-form-fillout">
    <label for="nameAddressee">Destinatario</label>
    <input
      id="nameAddressee"
      class="js-input-nameAddressee"
      name="nameAddressee"
      type="text"
      required
    />

    <label for="message">Quiero decirte que:</label>
    <input
      id="message"
      class="js-input-message"
      name="message"
      type="text"
      maxlength="220"
      required
    />

    <div class="photo">
      <i class="fa-solid fa-camera-retro"></i>
      <label for="img">Selecciona una imagen</label>
      <input id="img" class="js-input-img" name="img" type="image" required />
    </div>

    <label for="phone">Teléfono</label>
    <input
      id="phone"
      class="js-input-phone"
      name="phone"
      type="text"
      required
    />

    <label for="nameSender">Remitente</label>
    <input
      id="nameSender"
      class="js-input-nameSender"
      name="nameSender"
      type="text"
      required
    />

    <div class="instagram">
      <div class="instagram__text">
        <i class="fa-brands fa-instagram"></i>
        <label for="insta">Instagram</label>
      </div>
      <input
        id="insta"
        class="js-input-insta"
        name="insta"
        type="text"
        required
      />
    </div>
  </div>
</fieldset>
