<main class="main">
  <section class="block-text">
    <h1 class="title-card">Hay un amigo en mi</h1>
    <p class="subtitle">Personaliza un mensaje para tu amigo</p>
  </section>
  <section class="icons">
    <div class="icons__wrapper">
      <i class="fa-regular fa-object-ungroup"></i>
      Diseña
    </div>
    <div class="icons__wrapper">
      <i class="fa-regular fa-keyboard"></i>
      Rellena
    </div>
    <div class="icons__wrapper">
      <i class="fa-sharp fa-solid fa-share-nodes"></i>
      Comparte
    </div>
  </section>
  <div class="actions">
    <a class="btn" href="./form.html">COMENZAR</a>
  </div>
</main>
