<main class="main">
    <h1>Crea tu tarjeta de visita</h1>
    <p>Crea memes personalizados de forma sencilla y rápida</p>
    <div>
        <ul>
            <li>
                <img>
                <p>Diseña</p>
            </li>
            <li>
                <img>
                <p>Rellena</p>
            </li>
            <li>
                <img>
                <p>Comparte</p>
            </li>
        </ul>
        <button>
            <a href="./form.html">Crea meme</a>
        </button>
    </div>
</main>